.product-detail-page {
  font-family: sans-serif;
  background-color: #e6e6e6;
  margin: 0;
  padding: 20px;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.text-section {
  max-width: 60%;
  color: #000;
}

.text-section h2,
.text-section h3 {
  margin-bottom: 10px;
  color: #000;
}

.text-section p {
  margin-bottom: 20px;
  line-height: 1.5;
}

.text-section ul {
  list-style: none;
  padding-left: 0;
  line-height: 1.6;
}

.image-section {
  text-align: center;
  max-width: 40%;
}

.image-section img {
  max-width: 100%;
  height: auto;
}

.price {
  margin-top: 20px;
  font-size: 24px;
  color: green;
  font-weight: bold;
}

.add-to-cart {
  display: inline-block;
  padding: 12px 24px;
  background-color: #009B43;
  color: #fff;
  text-decoration: none;
  border-radius: 999px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  font-size: 1rem;
  transition: background-color .2s;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.add-to-cart:hover {
  background-color: #008f49;
}

.close-btn {
  position: fixed;
  top: 20px;
  right: 30px;
  font-size: 40px;
  font-weight: 300;
  color: #333;
  text-decoration: none;
  z-index: 1000;
  transition: 0.3s;
}

.close-btn:hover {
  color: #666;
  transform: scale(1.2);
}
